.kanbanBox-background {
    width: 13%;
}

.kanban-title {
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 50px;
    background: #ffe7ce;

    width: 85%;
    height: 50px;

    border-radius: 15px;
    overflow: auto;
}

.kanban-list-context {
    flex: 1;
}

.kanban-edit-btn {
    padding-right: 10px;
    cursor: pointer;
}

.delete-btn {
    padding-right: 10px;
    cursor: pointer;
}

.kanban-edit-input {
    border-radius: 5px;
    width: 85%;
}