.form {
    display: flex;
}

.form input {
    flex: 1;
    border: none;
    border-bottom: solid 1px #FDC1C1;
    margin-right: 1rem;
    outline: none; 
    font-size: 12pt;
    font-family: "나눔고딕";
}

.creat-button {
    text-align: center;
    width: 50px;
    height: 25px;
    padding-top: 6px; 
    background-color: #FE8F8F;
    border-radius: 25%;
    color: #ffffff;
    font-family: "나눔고딕";
}