.main {
    width: 600px;
    margin: 0 auto;
    margin-top: 5%;
    box-shadow: 0px 3px 6px #6E6E6E;
}

.header {
    height: 4rem;
    padding-top: 2.5rem;
    background-color: #FDB0B0;
    color: #ffffff;
    text-align: center;
    font-family: "나눔고딕";
    font-size: 18pt;
    font-weight: 500;
}

.input {
    padding: 1rem;
    border-bottom: solid 1px #FE8C8C;
}
